DATABASE_URL="postgresql://kartoteka:kartoteka_dev@localhost:5433/kartoteka?schema=public"
SESSION_SECRET="wygeneruj: node -e \"console.log(require('crypto').randomBytes(32).toString('base64url'))\""
APP_URL="http://localhost:3000"
